<div class="info" *ngIf="!hamburguer">Carregando detalhes...</div>
<div class="details-container" *ngIf="hamburguer">
    <h1>Detalhes</h1>
    <div class="details-info">
        <div class="burguer">
            <app-card
                [title]="hamburguer.name"
                [desc]="hamburguer.baseDescription"
                [imagePath]="hamburguer.pathImage"
            ></app-card>
            <p>{{ hamburguer.price.toFixed(2).replace('.', ',') + ' R$'}}</p>
        </div>

        <div class="desc">
            <h3>Descrição</h3>
            <p>{{ hamburguer.baseDescription }}</p>
        </div>
    </div>
          
        
    <app-button
        text="Comprar"
        fillColor="var(--primary-red)"
        textColor="var(--primary-white)"
        textHoverColor="var(--primary-brown)"
    ></app-button>
</div>


