.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 1em;
}

.nav-links a {
  text-decoration: none;
  cursor: pointer;
  color: var(--primary-brown);
  transition: color 0.3s ease;
}
  
.nav-links a:hover {
  color: var(--primary-red);
}
  
.active {
  font-weight: bold;
  color: var(--primary-red);
}
  
/* Mobile Menu */
.menu-toggle {
  background: none;
  border: none;
  color: var(--primary-brown);
  font-size: 24px;
  cursor: pointer;
  display: none;
  transition: color 0.3s ease;
}

.menu-toggle:hover {
  color: var(--primary-red);
}
  
/* Responsive Styles */
@media (max-width: 768px) {
  .navbar {
    padding: 1em 0;
  }
  .menu-toggle {
    display: block;
  }
  
  .nav-links {
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 90%;
    background-color: white;
    top: 80px;
    right: 30px;
    display: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease-in-out;
  }

  .nav-links.active {
    display: flex;
  }
  
  .nav-links li {
    margin: 10px 0;
  }

  
}