<div class="form-control">
  <label for="input-field" [innerHTML]="labelWithAsterisk"></label>
    <ng-container [ngSwitch]="type">
      <input 
        *ngSwitchCase="'text'" 
        id="input-field" 
        type="text" 
        [value]="value" 
        (input)="updateValue($event)" 
        [placeholder]="placeholder" 
        />
  
      <input 
        *ngSwitchCase="'number'" 
        id="input-field" 
        type="number" 
        [value]="value" 
        (input)="updateValue($event)" 
        [placeholder]="placeholder" 
        />
  
      <textarea 
        *ngSwitchCase="'textarea'" 
        id="input-field" 
        [value]="value" 
        (input)="updateValue($event)" 
        [placeholder]="placeholder" 
        ></textarea>
    </ng-container>
  </div>
  