<div class="menu-container">
    <h1>Cardápio</h1>
    <div class="info" *ngIf="hamburguers.length === 0">Carregando hamburguers...</div>
    <ul class="container responsive-grid">
        <li *ngFor="let hamburguer of hamburguers">
            <app-card
                [title]="hamburguer.name"
                [desc]="hamburguer.ingredients"
                imagePath="images/burguer.png"
                (click)="goToDetails(hamburguer.id)"
            ></app-card>
        </li>
    </ul>
    
    <app-button
        [text]="menuButtonText"
        fillColor="var(--primary-red)"
        textColor="var(--primary-white)"
        textHoverColor="var(--primary-brown)"
        (click)="toggleMenuItemsVisualization($event)"
    ></app-button>
</div>