<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <div class="line-inputs">
    <app-select
      label="Produto:"
      [options]="hamburguerOptions"
      [required]="true"
      [control]="getControl('product')"
      (selectionChange)="onProductSelected($event)">
    </app-select>

    <app-input
      label="Quantidade:"
      type="number"
      formControlName="quantity"
      [control]="form.get('quantity')"
    ></app-input>
  </div>

    <app-input class="observation"
      label="Observação:"
      type="textarea"
      formControlName="observation"
      [control]="form.get('observation')"
    ></app-input>
    
    <app-button
        text="Finalizar"
        fillColor="var(--primary-red)"
        textColor="var(--primary-white)"
        textHoverColor="var(--primary-brown)"
        type="submit"
    ></app-button>
</form>
  